#leftBox {
    float: left;
    width: 250px;
    height: 250px;
    margin: 5px;
    border: 3px solid #ac87d3;
}

#rightBox {
    float: left;
    width: 250px;
    height: 250px;
    margin: 5px;
    border: 3px solid mediumpurple;
}

#seahorse {
    max-height: 100px;
}